# for docker
DB_PORT_EXTERNAL=5432

ADDR="localhost:3200"
LOG_LEVEL=0
# comma separated
LOG_OUTPUTS=stderr
DSN="postgres://gophkeeper:wI94ZvRX0Ajt@localhost:5432/gophkeeper?sslmode=disable"
CERT_PATH="./certs/server.crt"
KEY_PATH="./certs/server.key"
